wandb==0.23.0
transformers==4.35.2
tqdm==4.67.1
torchcontrib==0.0.2
torchstat==0.0.7
soundfile==0.13.1
scikit-learn==1.7.2
opencv-python
opensmile==2.5.0
numpy==1.26.4
librosa==0.10.0
speechbrain==1.0.3
h5py==3.14.0
einops==0.8.1
omegaconf==2.3.0
pytorch-lightning==2.6.0
diffusers==0.13.0
tensorboard==2.20.0
hydra-core
matplotlib==3.7.5
